<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>email ejs template</title>
  </head>
  <body>
    <h1>Welcome!! <%= email %></h1>
    <p>정말로 반가워요 ^^</p> 
    <!-- ejs는 꺾새 퍼센트 등호 이런식으로 쓴다.  -->
  </body>
</html>
